/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults  */

/* Page background color */
body { background-color: #FFF0C8 }

/* Table colors */
.TableHeadingColor     { background: #009900 } /* Dark green */
.TableSubHeadingColor  { background: #009900 } /* Light green */
.TableRowColor         { background: #FFF0C8 } /* Beige */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: normal; font-family: normal }
.FrameHeadingFont { font-size: normal; font-family: normal }
.FrameItemFont    { font-size: normal; font-family: normal }

/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#009900;}/* Light green */
.NavBarCell1Rev { background-color:#006600;}/* Dark green */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFF0C8;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFF0C8;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFF0C8;}

